<!doctype html>
<html>
<head>
 <title>Ventas hobbies</title>
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
   <body>
         <div class="container-fluid">
               <div class="header">
                 <nav>
                   <ul class="nav nav-pills pull-right">
                     <li role="presentation" class="active"><a href="/">Inicio</a></li>
                     <li role="presentation"><a href="/list">Lista</a></li>
                
                   </ul>
                 </nav>
                 <h3 class="text-muted">Consulta de servicios</h3>
               </div>
               
               <div class="jumbotron" >
                     <h1>Servicios</h1>
                     <p class="lead"></p>
               </div>
      <h1 class="container-fluid">Resultado de la consulta de la base de datos </h1>
      <table border = 4>
         <thead>
            <td align="center">Servicio</td>
            <td align="center">Descripcion del producto</td>
            <td align="center">Horas por semana</td>
            <td align="center">Precio por hora</td>
            <td align="center">Contacto</td>
            <td align="center">Correo</td>
         </thead>
         {% for row in columna %}       
         <tr>
            
            <td align="center">{{row["Servicio"]}}</td>
            <td align="center">{{row["Descripcion_del_producto"]}}</td>
            <td align="center">{{row["Horas_por_semana"]}}</td>
            <td align="center"> {{row["Precio_por_hora"]}}</td>
            <td align="center">{{row['Contacto']}}</td>	
            <td align="center"> {{ row["Correo"]}}</td>
           
         </tr>
        
      {% endfor %}
       <!--
            

       -->  
        
      </table>
      <a href = "/formulario">Regresar para registrar otro servicio</a>
      <br> 
      <a href = "/">Regresar a la página principal</a>
   </body>
</html>