<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Uber for Hobbies </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="img/icons/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png">
  <link rel="apple-touch-icon-precomposed" href="img/icons/default.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.theme.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/owl.transitions.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!--Your custom colour override - predefined colours are: colour-blue.css, colour-green.css, colour-lavander.css, orange is default-->
  <link href="#" id="colour-scheme" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Flexor
    Theme URL: https://bootstrapmade.com/flexor-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

  <body>
<!-- ======== @Region: body ======== -->

<body class="fullscreen-centered page-register">
  <!--Change the background class to alter background image, options are: benches, boots, buildings, city, metro -->
  <div id="background-wrapper" class="benches" data-stellar-background-ratio="0.8">

    <!-- ======== @Region: #content ======== -->
    <div id="content">
      <div class="header">
        <div class="header-inner">
          <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
          <a class="navbar-brand center-block" href="index.html" title="Home">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                  Registra tu producto o servicio
                </h3>
            </div>
            <form action = "{{ url_for('registro_usuario') }}" method = "POST">
              <!--- <form class="form-signin">-->
            <div class="panel-body">
              <form accept-charset="UTF-8" role="form">
                <form accept-charset="UTF-8" role="form">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-cube"></i></span>
                      <input type="text" class="form-control" placeholder="Servicio/Producto" name ="Servicio/Producto">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-pencil"></i></span>
                      <input type="text" class="form-control" placeholder="Descripción del producto" name="Descripción del producto">
                    </div>
                  </div>
                    <div class="form-group">
                      <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="fa fa-fw fa-clock-o"></i></span>
                        <input type="text" class="form-control" placeholder="Horas por semana" name="Horas por semana">
                      </div>
                    </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-money"></i></span>
                      <input type="number" class="form-control" placeholder="Precio por hora (en Gs.)" name="Precio por hora">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
                      <input type="number" class="form-control" placeholder="Teléfono" name="Teléfono">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Email" name="Email">
                  </div>
                  <div class="form-group">
                  </div>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Registrarme">
                  </fieldset>
                </form>
                <h1 id="resultado"></h1>
                <a href="/lista_servicios"> Ir a la lista</a>
                </div>
    <script>
      
      // 
      var hola='{{dato}}';                         //recibimos los datos desde flask 
      var json=JSON.parse('{{dato|tojson|safe}}') ;  //convertimos los recibido en un objeto json
      var index_json=0;
      function cambio(){ 

        var entrada=document.getElementById('Id').value;  //obtenemos el valor de id, para saber la raza relacionada con ese id 
        entrada=parseInt(entrada);                        // convertimos a int la entrada que estaba en string

        var index_json=json.Id.indexOf(entrada);         //con esto hallamos sla posicion de la id buscada
   
        if(json.razas[index_json]!=json.razas[-1])       // si es que no esta definido no poner nada, logramos comparar con el undefined gracias a el index -1 que no esta definido
          {
          document.getElementById("inputName").value= json.razas[index_json];  // reemplazar el valor de la cajita por la raza si se encuentra
          //document.getElementById("inputName").isContentEditable="false";       //bloqueamos el contenido para que no sea editado
         // document.formulario.inputName.readOnly=true;
          }else{
          document.getElementById("inputName").value= " "; //si no se encuentra poner en blanco
         // document.getElementById("inputName").isContentEditable=true;       // hacemos que el contenido sea editable
          //document.formulario.inputName.readOnly=false;
        }
      }  
   </script>
  
  <script>
          var retardo;
         function validar()
          {
          var opcion = confirm("Desea guardar los datos?");
          if(opcion==true)
          {
            document.getElementById("resultado").innerHTML="Guardado correctamente"; //hacemos aparecer el mensaje
            retardo= setInterval(borrar,8000);  //borramos 
          }
          return opcion;
      }
      function borrar(){
        document.getElementById("resultado").innerHTML=" "; //borramos el mensaje
        clearInterval(retardo);

      }
   
  </script>
  </body>
</html>
